#### 2023-05-01

##### 1교시

In [ ]:
# 분류의 성능평가 지표 5가지 이상
정확도 정밀도 재현율 f1 rocauc

In [ ]:
재현율 recall
민감도 sensitivity
TPR True Positive Rate
FPR False Positive Rate = 1 - Secificity(특이도)
specificity = TN / TN + FP

In [ ]:
정밀도와 재현율은 상호 보완적인 평가 지표이기 때문에 어느 한 쪽을 
강제로 높이면 다른 하나의 수치가 떨어지기 쉽다. 이것을( 트레이트 오프)라고 한다.

In [ ]:
정밀도와 재현율을 결합한 지표로써 정밀도와 재현율이 어느 한쪽으로
치우치지 않는 수치를 나타낼 때 상대적으로 높은 값을 가지는 지표는?
f1

In [ ]:
ROC Curve 그래프에서 각 축은?
x = FPR , y = TPR

In [94]:
import pydataset
mpg = pydataset.data('mpg') 
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
mpg데이터셋으로 머신러닝을 구현하고자 한다.
연료 종류(fl)을 레이블 값으로 설정해 이를 예측할 수 있는지 머신러닝을 구현해보자.

In [95]:
# 연료 f1 종류와 갯수는?
mpg['fl'].value_counts()

r    168
p     52
e      8
d      5
c      1
Name: fl, dtype: int64

In [96]:
# 연료 종류(fl)중 'e','d','c'의 개수가 너무 적어 이는 삭제하고 'p','r' 종류만 레이블 값으로 둔다.
# 연료 종류가 'e','d','c'인 행은 삭제하시오.
mpg = mpg[(mpg['fl'] == 'r') | (mpg['fl'] == 'p')] 
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [97]:
# 피처값에 'manufacturer','model','year'는 불필요한 값이니 삭제하시오.
mpg.drop(['manufacturer', 'model', 'year'], axis = 1)

     displ  cyl       trans drv  cty  hwy fl    class
1      1.8    4    auto(l5)   f   18   29  p  compact
2      1.8    4  manual(m5)   f   21   29  p  compact
3      2.0    4  manual(m6)   f   20   31  p  compact
4      2.0    4    auto(av)   f   21   30  p  compact
5      2.8    6    auto(l5)   f   16   26  p  compact
..     ...  ...         ...  ..  ...  ... ..      ...
230    2.0    4    auto(s6)   f   19   28  p  midsize
231    2.0    4  manual(m6)   f   21   29  p  midsize
232    2.8    6    auto(l5)   f   16   26  p  midsize
233    2.8    6  manual(m5)   f   18   26  p  midsize
234    3.6    6    auto(s6)   f   17   26  p  midsize

[220 rows x 8 columns]

In [98]:
# 연료 종류를 레이블 값으로 지정하고 나머지들 피쳐 값으로 지정하시오.
X = mpg[['displ', 'cyl', 'trans', 'drv', 'cty', 'hwy','class']]
y = mpg['fl']

In [72]:
# 현재 피처값에 문자열이 존재한다. 이를 레이블 인코딩 하시오.

In [99]:
encoder = LabelEncoder() 
mpg['trans'] = encoder.fit_transform(mpg.trans)
mpg['drv'] = encoder.fit_transform(mpg.drv)
mpg['class'] = encoder.fit_transform(mpg['class'])

C:\Users\user\AppData\Local\Temp\ipykernel_8204\3505876747.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['trans'] = encoder.fit_transform(mpg.trans)
C:\Users\user\AppData\Local\Temp\ipykernel_8204\3505876747.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['drv'] = encoder.fit_transform(mpg.drv)
C:\Users\user\AppData\Local\Temp\ipykernel_8204\3505876747.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['class'] = encoder.fit_transform(mpg['class'])

In [ ]:
해당 머신러닝의 종류는  레이블 값이 주어지고, 주어진 레이블 값이 '범주형'이기에 '지도학습' 중
'분류' 방법이다.
정제한 데이터를 5개의 fold로 Stratified kold하고, 개별 정확도의 평균을 구하시오.

In [100]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score 
dt_clf = DecisionTreeClassifier()
cross_val_score(dt_clf,x,y,scoring='accuracy',cv=5)

ValueError:
All the 5 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 889, in fit
    super().fit(
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 186, in fit
    X, y = self._validate_data(
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py", line 560, in _validate_data
    X = check_array(X, input_name="X", **check_X_params)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 879, in check_array
    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\_array_api.py", line 185, in _asarray_with_order
    array = numpy.asarray(array, order=order, dtype=dtype)
  File "C:\Users\user\anaconda3\lib\site-packages\pandas\core\generic.py", line 2070, in __array__
    return np.asarray(self._values, dtype=dtype)
ValueError: could not convert string to float: 'auto(l5)'

In [64]:
import os
os.getcwd()
os.chdir('C:\\Users\\admin\kaggle')

In [65]:
import pandas as pd
import numpy as np
cust_df = pd.read_csv('train.csv', encoding='latin-1')

In [67]:
# TARGET의 불균형을 체크합니다.
from collections import Counter
Counter(cust_df['TARGET'])

Counter({0: 73012, 1: 3008})

In [92]:
# 0의 개수가 너무 많으므로 언더샘플링을 해서 10%만 남기세요.
cust_df = cust_df.drop(cust_df[cust_df['TARGET']== 0].sample(frac=0.1).index)

In [93]:
cust_df

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.00,195.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76014,151825,2,39,0.0,375.99,405.33,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90214.170000,0
76016,151830,2,39,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
76017,151835,2,23,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
76018,151836,2,25,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
76019,151838,2,46,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [105]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
X = X_features = cust_df.iloc[: , :-1]
y = y_labels = cust_df.iloc[: , -1]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

lr_clf = LogisticRegression(max_iter = 1000)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)
pred_proba = lr_clf.predict_proba(X_test)[:, 1]

confusion = confusion_matrix( y_test, pred)
accuracy = accuracy_score(y_test , pred)

##### 2교시

In [ ]:
회귀관련 PDF로 수업진행

##### 3교시

In [ ]:
회귀관련 PDF로 수업진행

##### 4교시

In [ ]:
회귀관련 PDF로 수업진행

##### 5교시

In [ ]:
R로 수업진행

##### 6교시

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
from sklearn.datasets import load_boston
import warnings
warnings.filterwarnings('ignore')  #사이킷런 1.2 부터는 보스턴 주택가격 데이터가 없어진다는 warning 메시지 출력 제거
%matplotlib inline

# boston 데이타셋 로드
boston = load_boston()

# boston 데이타셋 DataFrame 변환 
bostonDF = pd.DataFrame(boston.data , columns = boston.feature_names)

# boston dataset의 target array는 주택 가격임. 이를 PRICE 컬럼으로 DataFrame에 추가함. 
bostonDF['PRICE'] = boston.target
print('Boston 데이타셋 크기 :',bostonDF.shape)
bostonDF.head()

In [ ]:
# 2개의 행과 4개의 열을 가진 subplots를 이용. axs는 4x2개의 ax를 가짐.
fig, axs = plt.subplots(figsize=(16,8) , ncols=4 , nrows=2)
lm_features = ['RM','ZN','INDUS','NOX','AGE','PTRATIO','LSTAT','RAD']
for i , feature in enumerate(lm_features):
    row = int(i/4)
    col = i%4
    # 시본의 regplot을 이용해 산점도와 선형 회귀 직선을 함께 표현
    sns.regplot(x=feature , y='PRICE',data=bostonDF , ax=axs[row][col])

fig1 = plt.gcf()
fig1.savefig('p322_boston.tif', format='tif', dpi=300, bbox_inches='tight')

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

y_target = bostonDF['PRICE']
X_data = bostonDF.drop(['PRICE'],axis=1,inplace=False)

X_train , X_test , y_train , y_test = train_test_split(X_data , y_target ,test_size=0.3, random_state=156)

# Linear Regression OLS로 학습/예측/평가 수행. 
lr = LinearRegression()
lr.fit(X_train ,y_train )
y_preds = lr.predict(X_test)
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)

print('MSE : {0:.3f} , RMSE : {1:.3F}'.format(mse , rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_test, y_preds)))

In [ ]:
print('절편 값:',lr.intercept_)
print('회귀 계수값:', np.round(lr.coef_, 1))

In [ ]:
# 회귀 계수를 큰 값 순으로 정렬하기 위해 Series로 생성. index가 칼럼명에 유의
coeff = pd.Series(data=np.round(lr.coef_, 1), index=X_data.columns )
coeff.sort_values(ascending=False)

In [ ]:
from sklearn.model_selection import cross_val_score

y_target = bostonDF['PRICE']
X_data = bostonDF.drop(['PRICE'],axis=1,inplace=False)
lr = LinearRegression()

# cross_val_score( )로 5 Fold 셋으로 MSE 를 구한 뒤 이를 기반으로 다시  RMSE 구함. 
neg_mse_scores = cross_val_score(lr, X_data, y_target, scoring="neg_mean_squared_error", cv = 5)
rmse_scores  = np.sqrt(-1 * neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

# cross_val_score(scoring="neg_mean_squared_error")로 반환된 값은 모두 음수 
print(' 5 folds 의 개별 Negative MSE scores: ', np.round(neg_mse_scores, 2))
print(' 5 folds 의 개별 RMSE scores : ', np.round(rmse_scores, 2))
print(' 5 folds 의 평균 RMSE : {0:.3f} '.format(avg_rmse))